/* IMPORT GOOGLE FONT */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  /* COLOR */
  --main-color: #16e5db;
  --black-color: #000000;
  --gray-color: #bbbbbb;
  --white-color: #eeeeee;
  /* FONT */
  --normal-font: 16px;
  --large-font: 24px;
  --huge-font: 36px;
  /* MAIN FONT FAMMILY */
  --main-family-font: "Roboto", sans-serif;
  --second-family-font: "Poppins", sans-serif;
  --third-family-font: "Open Sans", sans-serif;
  /* SPACING */
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 40px;
  --space-6: 48px;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-image: radial-gradient(
    circle,
    #16e5db,
    #15a3c6,
    #4b6288,
    #392e3d,
    #000000
  );
  opacity: 0.9;
  z-index: -1;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 80%;
  min-height: 80%;
  background-color: white;
  border-radius: var(--space-3);
  box-shadow: 10px 10px 20px var(--black-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.questionContainer{
  flex-grow: 1;
  background-color:red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answersContainer{
  flex-grow: 5;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nextChoiceContainer{
  display:flex;
  flex-grow: 1;
}

.backButton{
  background-color: yellow;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nextButton{
  background-color: green;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


